.chart-active .the-chart {
  
  color: #fff;
   transition: all .9s ease-in-out;
   border:10px solid rgba(52, 219, 204, 0.42);;
  border-radius: 300px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px; 
   -webkit-transition: all .7s ease-in-out; 
 }

.the-chart {
  padding: 7px;
  border: 0px solid #3498db;
  border-radius: 5px;
  height: 100%; }

.text-center {
  text-align: center;
  margin: 20px 0; }

/*# sourceMappingURL=maps/custom.css.map */
