.dil-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	font-family:  "Montseratt"  , sans-serif;
	margin: 0 auto -142px;
	overflow-y: hidden; // hide vertical
	overflow-x: hidden;
}

.dilbutton{
	margin-top: 10px;
}

.parallaxx { 
    /* The image used */
    background-image: url("../images/Foto/99929.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tgh {
	text-align: center;
}
.samyang {
	min-height: 100%;
	position: relative;
}

.dil-container > input,
.dil-container > a {
	position: fixed;
	bottom: 15%;
	width: 20%;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	z-index: 1000;
}


.dil-container > input {
	opacity: 0;
	z-index: 100;
}

.dil-container > a {
	z-index: 10;
	font-weight: 700;
	background: #0c3f73;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
.gbr {
	
	height: 150px;
	width: 200px;
}
.a {
	overflow: hidden;
}

.b {
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}
.tengh {
	text-align: center;
	margin-left: 43%;
}


/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels
.dil-container:before {
	content: '';	
	width: 100%;
	height: 24px;
	background: #0097bf;
	z-index: 9;
	 position: absolute;
	top: 500px;
}
*/
.spacer{
    width: 100%;
    height: 95px;
}

#dil-control-1, #dil-control-1 + a {
	left: 0;
	width: 25%;
}

#dil-control-2, #dil-control-2 + a {
	left: 25%;
	width: 25%;
}

#dil-control-3, #dil-control-3 + a {
	left: 50%;
	width: 25%;
}

#dil-control-4, #dil-control-4 + a {
	left: 75%;
	width: 25%;
}

.dil-container > input:checked + a,
.dil-container > input:checked:hover + a{
	background: #3d5b99;
}

.dil-container > input:checked + a:after,
.dil-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #3d5b99;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.dil-container > input:hover + a{
	background: #00b3fa;
}

.dil-container > input:hover + a:after {
	border-bottom-color: #AD244F;
}

.dil-scroll,
.dil-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.dil-scroll {
	top: 0;
	left: 0;
	transition: all 0.6s ease-in-out;	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.dil-panel{
	background: #fff;
	overflow: hidden;
}

#dil-control-1:checked ~ .dil-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

#dil-control-2:checked ~ .dil-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

#dil-control-3:checked ~ .dil-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

#dil-control-4:checked ~ .dil-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}

#dil-control-5:checked ~ .dil-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}

.dil-deco{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -100px;
	background: #00b3fa;
	transform: translateY(-5%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'RaphaelIcons';
    color: #fff;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: fixed;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 90px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	transform: rotate(-45deg) translateY(25%);
}

.dil-panel h2 {
	color: #219eda;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#dil-control-1:checked ~ .dil-scroll #dil-panel-1 h2,
#dil-control-2:checked ~ .dil-scroll #dil-panel-2 h2,
#dil-control-3:checked ~ .dil-scroll #dil-panel-3 h2,
#dil-control-4:checked ~ .dil-scroll #dil-panel-4 h2{
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
}

@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.dil-panel p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #8b8b8b;
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}

#dil-control-1:checked ~ .dil-scroll #dil-panel-1 p,
#dil-control-2:checked ~ .dil-scroll #dil-panel-2 p,
#dil-control-3:checked ~ .dil-scroll #dil-panel-3 p,
#dil-control-4:checked ~ .dil-scroll #dil-panel-4 p{	
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}

}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.dil-color,
.dil-deco{
	background: #00b3fa;
}

.dil-color [data-icon]:after {
	color: #fa96b5;
}

.dil-color .dil-deco {
	background: #fff;
}

.dil-color h2 {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.dil-color p {



	color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 520px) {
	.dil-panel h2 {
		font-size: 42px;
	}
	
	.dil-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.dil-container > a {
		font-size: 13px;
	}
}

@media screen and (max-width: 360px) {
	.dil-container > a {
		font-size: 10px;
	}
	
	.dil-deco{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
	
	[data-icon]:after {
		font-size: 60px;
		transform: rotate(-45deg) translateY(15%);
	}
}

.parallax { 
    /* The image used */
    background-image: url("http://telkomuniversity.ac.id/images/uploads/gku.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dil-judul {
	text-align: center;
	margin-top:100px;
	color: #fff;
}

.dil-teks {
	margin-top: 50px;
	color: #fff;
	margin-bottom: 100px;
}

hr {
	width: 105px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.sejajar {
	display: inline-block;
	
}
.sejajar-tengah {
	margin-left:20%
}
.jabata {
	margin-left:20%;
}
.majin {
	margin-left:42%;

}
.p3{
 width:78px;height:48px
}

#kiri,#tengah,#kanan {

	animation: moveDown 0.6s ease-in-out 0.2s forwards;
}

@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: scaleX(0);
		opacity: 0;
	}
	100% { 
		-webkit-transform: scaleX(1);
		opacity: 1;
	}
}

