@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Candal');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
  font-family: 'Yanone Kaffeesatz', sans-serif; 
}

.header {
  max-width: 100%;
  padding:1.5em ;
  background-color: #fff;
  overflow: hidden;
  z-index: 999;
}

.header-nav {
  position: relative;
  padding-right: 3em;
}

.header-nav:before, .header-nav:after {
  content: '';
  display: table;
}

.header-nav:after {
  clear: both;
}

.menu {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.menu li {
  display: inline-block;
}

.menu li a:hover {
  color: black;
}
.menu li a {
  color: #0097bf;
  display: block;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.image-nav {
  position: absolute;
  left: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.search-button:hover{
  border: solid white;
}

.search-toggle {
  position: relative;
  display: block;
  height: 13px;
  width: 12px;
}

.search-toggle::before, .search-toggle::after {
  content: '';
  position: absolute;
  display: block;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.search-toggle::before {
  border: 2px solid #0097bf;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
}

.search-toggle::after {
  height: 2px;
  width: 7px;
  background: #0097bf;
  top: 10px;
  left: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-toggle.active::before {
  width: 0;
  border-width: 1px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1px;
  left: 4px;
}

.search-toggle.active::after {
  width: 12px;
  left: -1px;
  top: 4px;
}

.search-input:focus {
  outline: none;
}

#header-3 .menu li {
  opacity: 1;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

#header-3 .search-box {
  position: absolute;
  right: 48px;
  height: 100%;
  width: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header-3 .search-box .search-input {
  border: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 25px;
}

#header-3 .search-box .search-toggle {
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header-3.show .menu li {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header-3.show .menu li:nth-child(even) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#header-3.show .menu li:nth-child(odd) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#header-3.show .search-box {
  width: calc(93% - 5em);
  opacity: 1;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.logo{
  border-radius: 4px;
  padding: 5px;
  width: 60px;
  height: 50px;
  float: left;
  margin-right: 20px;
}

.tampung {
  margin-top: 100px;
  letter-spacing: 7px;
}

  /* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 5px;
}

.right{
  float:right;
  text-align: right;
}

.sm-img{
  width : 70px;
  height: 70px;
  margin:10px;
}

/*.social {
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
}

.social li a {
  color: #0097bf;
  display: block;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}*/

.footer-social-icons {
    width: 350px;
    display:block;
    left:0;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
    left:0px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-rss:hover {
    background-color: #eb8231;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-google-plus:hover {
    background-color: #e25714;
}

.copyright{
  clear: left;
  margin-left: 10px;
  font-size: 12px;
  color:#8c8c8c;
}

.socmed{
  bottom: 5px;
  position: absolute;
}
    
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.kotakbiru {
  text-align: center;
  background-color: #fff;
  color:white;
}

.kotakbirutua {
  text-align: center;
  background-color: #fff;
  color:white;
}

.kotakhijau {
  text-align: center;
  background-color: #005254;
  color:white;
}

.teksjudul {
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz" , sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
  padding: 0px;

}

.circlborder {  
  border:5px solid #ececec;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.circlborder:hover {
  border: 5px solid #f1e629;
}

.circborder {
  border:5px solid #ececec;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.circborder:hover {
  border: 5px solid #8a6d3b;
}

.circleborder {
  border:5px solid #ececec;
  border-radius: 100px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.circleborder:hover {
  border: 5px solid #e96656;
}

p {
  font-family: "Yanone Kaffeesatz"  , sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz" , sans-serif;
  font-weight: bold;
  color: #000;
}

h1,.h1,.p1{
  font-size: 80px;
}

h2,.h2,.p2{
  font-size: 56px;
}

h3,.h3,.p3{
  font-size: 24px;
}

h4,.h4,.p4{
  font-size: 16px;
}

h5,.h5,.p5{
  font-family: "Yanone Kaffeesatz"  , sans-serif;
  font-size: 14px;
}

.menu .aktif a{
  border: 1px solid #0097BF;
  border-radius: 4px;
}

.judul-halaman{
  text-align: center;
  background-color: #0c3f73;
  color:white;
  margin-bottom: 10px;
  height: 150px;
  padding-top: 30px;
  text-align: center;
  z-index: 1;
}

.konten-gallery{
  text-align: center;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teks-gallery{
  text-align: center;
  display: inline;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
}

.carousel-3d-slide {
  height: auto !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.footer-gallery{
  text-align: center;
  background-color: #0066ff;
  color:white;
}

#navigasi {
  overflow: hidden;
  z-index: 10;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.teks-quote{
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}

.teks-paragraf{
  display: table; 
  height: 250px; 
  overflow: hidden;
}

#bt{
  display: none;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
#kritik{
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  display: none;
}
.fullpage{
  padding:10%;
}
.pusat{
  top:45%;
  left:45%;
}
@media only screen and (min-width: 1080px) {
  .fullpage{
    padding:10%;
    height: 550px
  }
}
@media only screen and (max-width: 560px) {
    ul.social-icons {
        margin-top: 10px;
        left: 0px;
        margin-bottom: 2px;
    }
    .socmed {
        bottom: 1px;
        position: absolute;
        font-size: 10px;
    }
      .sm-img {
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .menu li a {
        color: #0097bf;
        display: block;
        padding: 10px;
        position: relative;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        text-decoration: none;
        font-size: 10px;
    }
    #header-3 .search-box .search-input {
        border: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 10px;
    }
    img{
      width: 80%;
      height: 80%;
    }
    .menu {
        display: inline-block;
        float: right;
        list-style-type: none;
        margin: 3%;
        padding: 0;
    }
    .header {
        max-width: 100%;
        padding: 1em;
        background-color: #fff;
        overflow: hidden;
        z-index: 999;
    }
    .carousel {
        position: relative;
        height: 90%
    }
}

.caption-baru{
  width: 60%;
  float:right;
  margin-bottom: 70%;
  margin-right: -10%;
  color:white;
  z-index: 1000; 
  border-radius:50px;
  padding-top:10px;
}


.caption-baru2{
  width: 60%;
  float:right;
  margin-bottom: 40%;
  margin-right: -10%;
  padding:10px;
  color:white;
  z-index: 1000; 
  border-radius:50px;
  
}
.caption-baru3{
  width: 60%;
  margin-bottom: 50%;
  margin-left: 20%;
  color:white;
  z-index: 1000; 
}
.go-top{
  position: fixed;
  bottom: 2px;
  right: 1em;
  text-decoration: none;
  color: white;
  background-color: rgb(32, 130, 187);
  font-size: 12px;
  padding: 1em;
  display: none;
  
  z-index: 1;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 2);
  color:white;
}