/*artikel*/
.content{
  width: 100%;
}
.artikel{
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 30px;
}
.artikel-inv{
  text-align: center;
  background-color: #0c3f73;
  color:white;
  margin-top: 100px;
}

.kotakbiru {
  text-align: center;
  background-color: #00b3fa;
  color:white;
}
.kotakbirutua {
  text-align: center;
  background-color: #0c3f73;
  color:white;
}

.kotakhijau {
  text-align: center;
  background-color: #005254;
  color:white;
}

.teksjudul {

    text-transform: uppercase;
    font-family: "Yanone Kaffeesatz" , sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;

}


.circlborder {
  
     border:5px solid #ececec;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.circlborder:hover {


    border: 5px solid #f1e629;
}

.circborder {

  
    border:5px solid #ececec;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.circborder:hover {


    border: 5px solid #34d293;
}

.circleborder {
  
    border:5px solid #ececec;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.circleborder:hover {


    border: 5px solid #e96656;
}




p {

    font-family: "Yanone Kaffeesatz"  , sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    text-transform: uppercase;
    font-family: "Candal" , sans-serif;
    font-weight: bold;
}

h1,.h1,.p1{
    font-size: 80px;
}
h2,.h2,.p2{
    font-size: 56px;
}
h3,.h3,.p3{
    font-size: 24px;
}
h4,.h4,.p4{
    font-size: 16px;
}
h5,.h5,.p5{
    font-family: "Yanone Kaffeesatz"  , sans-serif;
    font-size: 14px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }


.focus-box .service-icon .pixeden  {
  border-radius: 50%;
}
.focus {
  padding-bottom: 100px;
  overflow: hidden;
  background: #FFFFFF;

}
.focus .row {
  text-align:center;
}
.focus .row .focus-box, .our-team .row .team-box {
  display:inline-block;
  float:none !important;
  margin-right: -4px;
  vertical-align: top;
  margin-bottom: 25px;
}
/* FOCUS BOX */
.focus-box .service-icon {
  display: block;
  margin-bottom: 30px;
  width: 145px;
  height: 145px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #ececec;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

  .red,.green,.blue,.yellow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#focus span:nth-child(4n+1) .focus-box .service-icon:hover, #focus span:nth-child(4n+1) .focus-box .service-icon:focus {
  border: 10px solid #e96656;
}
#focus span:nth-child(4n+2)  .focus-box .service-icon:hover, #focus span:nth-child(4n+2)  .focus-box .service-icon:focus {
  border: 10px solid #34d293;
}
#focus span:nth-child(4n+3) .focus-box .service-icon:hover, #focus span:nth-child(4n+3) .focus-box .service-icon:focus {
  border: 10px solid #3ab0e2;
}
#focus span:nth-child(4n+4) .focus-box .service-icon:hover, #focus span:nth-child(4n+4) .focus-box .service-icon:focus {
  border: 10px solid #f7d861;
}
#focus span:nth-child(4n+1) .focus-box .red-border-bottom:before {
  background: #e96656;
}
#focus span:nth-child(4n+2) .focus-box .red-border-bottom:before {
  background: #34d293;
}
#focus span:nth-child(4n+3) .focus-box .red-border-bottom:before {
  background: #3ab0e2;
}
#focus span:nth-child(4n+4) .focus-box .red-border-bottom:before {
  background: #f7d861;
}
.focus-box h3 {
  margin-bottom: 15px;
  color: #404040;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
  float: none;
  width: auto;
  background: none;
}
.focus-box p {
  font-size: 14px;
  color: #808080;
}

/*activity*/
.artikel-luar{
  width: 100%;
  padding: 5% 17%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.artikel-luar a{
  background-color: transparent;
}
.artikel-detail:hover{
  opacity: 0.95;
}
.artikel-luar:hover:before {
    opacity: 0.7;
}
.artikel-luar:before{
  display: block;
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.25;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000000 100%);
    transition: opacity 0.15s;
}
.artikel-luar a, .artikel-luar a:hover, .artikel-luar a:visited{
    text-decoration: none;
    position: relative;
    z-index: 4;
    user-select: none;
}
.artikel-dalam{
  text-align: center;
}
.cat-inv {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
}
.cat-inv:after {
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #000;
    height: 3px;
    width: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: width 0.2s;
}
.cat {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.cat:after {
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #fff;
    height: 3px;
    width: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: width 0.2s;
}
.artikel-luar:hover .cat:after {
    width: 200px;
}
  /*aktifitas detail*/
  .sampul{
    padding-top: 10%;
    text-align: center;
    color:#337ab7;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 540px;
  }
  .sampul a{
    text-decoration:none;
    color:#337ab7;
  }
  .post{
    padding-right: 20%;
    padding-left: 20%;
    padding-top:5%;
  }
  .post-img{
    width:100%;
  }
  /*end aktifitas detail*/
/*end aktiviti*/

/*mobile*/
@media only screen and (max-width: 380px) {
  .content{
    width: 380px;
  }  
}

@media only screen and (max-width: 600px) {
  .kotak{
    padding-left: 10%;
    padding-right: 10%;
  }
  .kotakbiru {
      text-align: center;
      background-color: #00b3fa;
      color:white;
      padding-bottom: 20%;
      padding-top: 10%;

    }
    .kotakbirutua {
      text-align: center;
      background-color: #0c3f73;
      color:white;
      padding-top: 10%;
      padding-bottom: 20%; 
      border-bottom: 1px solid grey;
      border-top: 1px solid grey;
    }

    .kotakhijau {
      text-align: center;
      background-color: #005254;
      color:white;
      padding-bottom: 20px;
      padding-top: 10%;
    }
    .slick-next{
      visibility: hidden;
      right: 0px
    }
    .slick-prev{
      visibility: hidden;
      left: 0px
    }
    .teksjudul {
        text-transform: uppercase;
        font-family: "Yanone Kaffeesatz" , sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        padding: 10px;
        visibility: hidden;
    }
    .social-icons li {
        font-size: 50%;
    }
}
/*end mobile*/
